body{
    background-color: black;
}
h1{
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

span {
    position: fixed;
    
   z-index: 100;
    
    background-color: khaki;
    width: 320px;
    height: 200px;
}

.div0 {
    position: absolute;
    left: 10%;
    flex-direction: row;
    width: 500px;
    height: 600px;
    background-color: darkgray;
    margin: 10px;
}
.div1{
    position: absolute;
    left: 55%;
    flex-direction: row;
    width: 500px;
    height: 600px;
    background-color: darkgray;
    margin: 10px;
}