body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto
}

header {
	position: relative;
	grid-column: span 2;
	text-align: center;
}

div {
	border: thin solid black;
	margin: 1em;
}
h2 {
	position: relative;
	text-align: center;
}




progress {
	height:4em;
	width: 4em;
	transform: rotate(-90deg);
}

#slider {
	display: grid;
	grid-template-columns: auto auto; 
    
}
footer{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 37%;
    bottom: 1%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
    font: 20px ;
    
}

.option1{
    font-family: 'Courier New', Courier, monospace;

}  

#startbutton {
	height: 50px;
	width: 170px;
	background-color: black;
	color: white;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 10px;
	text-align: center;
	padding-top: 15px;
	position: absolute;
	right: 90px;	
}

#startbutton:hover {

    background-color: purple;
}


.backOfCard{
	position: relative;
   
    top: -6%;
    left: -5%;
    float: left;
}



#memoryboard{
	position: absolute;
	z-index: 2;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	height: 500px;
	width: 1000px;
	left: 17%;
	top: 15%;
}

.cardDiv {
	text-align: center;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center; 
	
}

.isHidden {
	background-color: grey;
}
.isHidden p {
	display: none;
}







#flexbox {
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: center; 
	text-align: center;
}

